body{
    width: 80%;  ; /* Width = largeur de l'élément , 80% par rapport a son parent  */
    margin: 10px auto ; /* margin : marge extérieur dee l'élément (il pousse ce qu'il y a autour) */
    font-family: cursive;
}

#contenu{
    background-color:rgb(226, 99, 99);
    border :2px solid black;
}

header , footer {  /* , = Et , le header et le footer en mme temp */
    height: 80px; /* height ; la hauteur de l'élement (par default en auto); */
    background-color:rgba(238, 184, 186, 0.788) ; /* code couleur hexadecimel */
    /* plusieurs facons disponible :
    
    -nom : red , black , yellow, green
    -RGB (red green blue) : rgb(233,58,74)
    -Hexadecimel : #quelquechose , exemple : #8e3357)
    */

    color: white; /* color : couleur de texte uniquement  */
    text-align: center;  /* alignement du texte */
    padding-top: 6px; /* padding interieur d'un element (on poussse l'element de l'interieur)} */
 } 

nav{
    height: 40px;
    background-color: rgb(245, 209, 180);
    color: rgb(17, 16, 16);
    padding-left: 20px;
    padding-top: 6px;
}

section{
    border: 20px solid black;
    background-color: rgb(230, 228, 231);
    height: 500px;
    text-align: center;
}